<div class="flex items-center justify-center min-h-screen">
    <section class="w-full max-w-[430px] relative rounded-[6px] mx-2 -mt-6 overflow-hidden">
        <div class="mt-5">

            <label for="old_password" class=" text-gray-600 block">Old Password</label>
            <password-input>
                <input #passwordField [(ngModel)]="old_password" id="old_password" type="text"
                    class="w-full py-2 px-3 border border-slate-200 focus:outline-none focus:border-slate-500">
            </password-input>

            <label for="new_password" class="block text-gray-600  mt-3">New Password</label>
            <password-input>
                <input #passwordField [(ngModel)]="new_password" id="new_password" type="text"
                    class="w-full py-2 px-3 border border-slate-200 focus:outline-none focus:border-slate-500">
            </password-input>

            <label for="confirm_new_password" class="block text-gray-600  mt-3">Confirm New Password</label>
            <password-input [error]="isDisMatchPassword?'Password didn\'t match':''">
                <input #passwordField (input)="confirm_old_password($event)" id="confirm_new_password" type="text"
                    class="w-full py-2 px-3 border border-slate-200 focus:outline-none focus:border-slate-500">
            </password-input>


        </div>

        <div class="flex justify-end mt-4 flex-col">
            <button *ngIf="!isUpdating" (click)="saveProfile()"
                class="bg-green-500 text-white px-4 py-2 rounded">Update</button>

            <div *ngIf="isUpdating"
                class="w-8 text-center my-6 h-8 border-4 mx-auto rounded-full border-green-500 border-t-transparent animate-spin">
            </div>
        </div>
    </section>

    <ng-template #isLoading>
        <section class="w-full max-w-[430px] animate-pulse relative mx-2 -mt-6 overflow-hidden">
            <div
                class="bg-gray-600 rounded-full w-[120px] h-[120px] mx-auto my-10 p-0 border-[6px] box-content opacity-15 shadow-[0px_27px_16px_-11px_rgba(31,27,56,0.25)]">
            </div>
            <div class="w-full flex flex-col justify-center items-center">
                <h1 class="text-xl font-bold text-center w-40 bg-slate-600 h-4 opacity-15 mb-2"></h1>
                <h1 class="text-xl font-bold text-center w-24 bg-slate-600 h-4 opacity-15 mb-6"></h1>
                <h1 class="text-xl font-bold text-center w-96 bg-slate-600 h-4 opacity-15 my-1"></h1>
            </div>
        </section>
    </ng-template>
</div>