<header class="w-full   text-gray-500 bg-[#1c212c] body-font">
    <div class="container flex flex-col items-start justify-between p-6 mx-auto md:flex-row">
        <a class="flex items-center mb-4 font-medium text-gray-900 title-font md:mb-0">
            <svg class="w-auto h-12  text-gray-500 fill-current" viewBox="0 0 23 20" xmlns="http://www.w3.org/2000/svg">
             
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4 3C3.44772 3 3 3.44772 3 4C3 4.55228 3.44772 5 4 5H5C5.50065 5 5.91537 5.36792 5.98854 5.84813L6.26745 10.3118C6.43211 12.947 8.61737 15 11.2577 15H16C18.7614 15 21 12.7614 21 10C21 7.23858 18.7614 5 16 5H7.82929C7.41746 3.83481 6.30622 3 5 3H4Z"
                            fill="#5BD1D7"></path>
                        <path
                            d="M12 19C12 20.1046 11.1046 21 10 21C8.89543 21 8 20.1046 8 19C8 17.8954 8.89543 17 10 17C11.1046 17 12 17.8954 12 19Z"
                            fill="#152C70"></path>
                        <path
                            d="M16 21C17.1046 21 18 20.1046 18 19C18 17.8954 17.1046 17 16 17C14.8954 17 14 17.8954 14 19C14 20.1046 14.8954 21 16 21Z"
                            fill="#152C70"></path>
                    </g> 
            </svg>
        </a>

       
            <div class="items-center h-full" *ngIf="!isLogin ">
                <a routerLink="login" class="mr-5 font-medium hover:text-white">Login</a>
                <a routerLink="registration"
                    class="px-4 py-2 text-xs font-bold text-white uppercase transition-all duration-150 bg-teal-500 rounded shadow outline-none active:bg-teal-600 hover:shadow-md focus:outline-none ease">
                    Sign Up
                </a>
            </div> 
       

    </div>
</header>