<header class="w-full   text-gray-500 bg-[#1c212c] body-font">
    <div class="container flex flex-col items-center  justify-between p-6 mx-auto md:flex-row">
        <a routerLink="/" class="flex items-center mb-4 font-medium text-gray-900 title-font md:mb-0">
            <svg viewBox="0 0 24 24" class="w-10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M17 5C17 3.89543 17.8954 3 19 3C20.1046 3 21 3.89543 21 5C21 6.10457 20.1046 7 19 7C17.8954 7 17 6.10457 17 5Z"
                        stroke="#6b7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path
                        d="M10 5C10 3.89543 10.8954 3 12 3C13.1046 3 14 3.89543 14 5C14 6.10457 13.1046 7 12 7C10.8954 7 10 6.10457 10 5Z"
                        stroke="#6b7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path
                        d="M3 5C3 3.89543 3.89543 3 5 3C6.10457 3 7 3.89543 7 5C7 6.10457 6.10457 7 5 7C3.89543 7 3 6.10457 3 5Z"
                        stroke="#6b7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path
                        d="M3 12C3 10.8954 3.89543 10 5 10C6.10457 10 7 10.8954 7 12C7 13.1046 6.10457 14 5 14C3.89543 14 3 13.1046 3 12Z"
                        stroke="#6b7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path
                        d="M10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12Z"
                        stroke="#6b7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path
                        d="M10 19C10 17.8954 10.8954 17 12 17C13.1046 17 14 17.8954 14 19C14 20.1046 13.1046 21 12 21C10.8954 21 10 20.1046 10 19Z"
                        stroke="#6b7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path
                        d="M17 12C17 10.8954 17.8954 10 19 10C20.1046 10 21 10.8954 21 12C21 13.1046 20.1046 14 19 14C17.8954 14 17 13.1046 17 12Z"
                        stroke="#6b7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
            </svg>
        </a>
        <div #searchContainer *ngIf="isSearchBarShow" class="w-full max-w-[500px] relative">
            <div class="flex  bg-[#0d1829] px-2">
                <input type="text" (ngModelChange)="handleSearchValueChange($event)" [(ngModel)]="searchValue"
                    class="w-full text-center  bg-[#0d1829] flex bg-transparent pl-2 text-[#cccccc] outline-0"
                    placeholder="Search product" />
                <button *ngIf="!searchValue; else closeModal" type="submit"
                    class="relative p-2 bg-[#0d1829] ">
                    <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                                stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                    </svg>
                </button>
                <ng-template #closeModal>
                    <button (click)="searchValue=''" type="submit" class="relative p-2 bg-[#0d1829] ">
                        <svg class="hover:scale-105" width="30px" height="30px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <circle opacity="0.5" cx="12" cy="12" r="10" stroke="#999" stroke-width="1.5"></circle>
                                <path d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5" stroke="#999" stroke-width="1"
                                    stroke-linecap="round"></path>
                            </g>
                        </svg>
                    </button>
                </ng-template>
            </div>

            <div class="w-full absolute top-[155%] transform transition-all  h-max py-6 ease-out duration-300 bg-white shadow-lg  z-[999999]"
                [class.translate-y-0]="searchValue" [class.-translate-y-5]="!searchValue" [class.opacity-100]="searchValue"
                [class.opacity-0]="!searchValue">
                <ul *ngIf="searchedResult">
                    <li *ngFor="let item of searchedResult; let i = index" [routerLink]="'/product/' + item.id"
                        class="px-6 py-1 text-gray-400 hover:text-gray-800 hover:bg-gray-100 cursor-pointer hover:shadow-sm"
                        [class.bg-gray-100]="i === selectedIndex" (click)="onEnter($event)">
                        {{item.title}}
                    </li>
                </ul>
                <p class="px-6" *ngIf="searchedResult.length < 1">No item found</p>
            </div>

        </div>




        <div class="items-center h-full" *ngIf="!isLogin ">
            <a routerLink="login" class="mr-5 font-medium hover:text-white">Login</a>
            <a routerLink="registration"
                class="px-4 py-2 text-xs font-bold text-white uppercase transition-all duration-150 bg-teal-500 shadow outline-none active:bg-teal-600 hover:shadow-md focus:outline-none ease">
                Sign Up
            </a>
        </div>


    </div>
</header>