<div class="max-w-lg mx-auto my-10 mt-40 bg-white p-8  shadow shadow-slate-300">
    <h1 class="text-4xl font-medium">Reset password</h1>
    <p class="text-slate-500">Fill up the form to reset the password</p>

    <form (submit)="makeForgot()" class="my-6">
        <div class="flex flex-col space-y-5">
            <label for="email">
                <p class="font-medium text-slate-700 pb-2">Email address</p>
                <input *ngIf="!sendedCode" matInput id="email" name="email" [formControl]="emailFormControl"
                    [ngClass]="{'text-gray-500':true,'border-none':true,'select-none':true}"
                    class="w-full py-3 border border-slate-200 px-3 focus:outline-none focus:border-slate-500 hover:shadow"
                    placeholder="Enter email address" />
                <p *ngIf="sendedCode" class="w-full py-3 text-gray-600 px-3 focus:outline-none "
                    placeholder="Enter email address">{{emailFormControl.getRawValue()}}</p>

                <small
                    *ngIf=" emailFormControl.touched && emailFormControl.hasError('email') && !emailFormControl.hasError('required')"
                    class="text-red-600 my-1">Please enter a valid email address</small>
                <small *ngIf=" emailFormControl.touched && emailFormControl.hasError('required')"
                    class="text-red-600 my-1">Email is
                    <strong>required</strong></small>
            </label>
            <label *ngIf="sendedCode" for="otp">
                <p class="font-medium text-slate-700 pb-2">OTP</p>
                <div class="w-full relative">
                    <input [(ngModel)]="otp" id="otp" name="otp" type="text"
                        class="w-full py-3 border border-slate-200 px-3 focus:outline-none focus:border-slate-500 hover:shadow"
                        placeholder="Enter the One Time Password" />
                    <button (click)="checkOTP()" type="button"
                        class="absolute top-0 right-0 h-full px-4 font-medium text-white bg-indigo-600 hover:bg-indigo-500 border-indigo-500 hover:shadow">
                        Check
                    </button>
                </div>

            </label>
            <label *ngIf="match_password && !error" for="new_password">
                <p class="font-medium text-slate-700 pb-2">New Password</p>
                <div class="w-full relative">
                    <input [(ngModel)]="new_password" id="new_password" name="new_password" type="password"
                        class="w-full py-3 border border-slate-200 px-3 focus:outline-none focus:border-slate-500 hover:shadow"
                        placeholder="Enter New Password" />

                </div>

            </label>

            <button type="submit"
                class="w-full py-3 font-medium text-white bg-indigo-600 hover:bg-indigo-500  border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                </svg>

                <span *ngIf="!isUpdating">{{sendedCode?'Reset Password':'Send Code'}}</span>
                <div *ngIf="isUpdating" style="border-top-color:transparent "
                    class="w-6 h-6 border-4 border-gray-400 border-double mx-auto rounded-full animate-spin"></div>
            </button>
            <small class="text-red-600">{{error}}</small>
            <p class="text-center">Not registered yet? <a routerLink="/registration"
                    class="text-indigo-600 font-medium inline-flex space-x-1 items-center"><span>Register now
                    </span><span><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                        </svg></span></a></p>
        </div>
    </form>
</div>