<div class="flex flex-col mt-8">
    <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">
            <table class="min-w-full">
                <thead>
                    <tr>
                        <th
                            class="pl-6 pr-0 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Order ID</th>
                        <th
                            class="px-1 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Product ID</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Receiver Contact</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Receiver Name</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Receiver Address</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            shipping_zone</th>

                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Product Price</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Benefit</th>
                        <th
                            class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                            Delivery</th>

                    </tr>
                </thead>

                <tbody class="bg-white">
                    <tr *ngFor="let order of allOrders; let i = index">

                        <td class="pl-6 pr-0 py-3 whitespace-no-wrap border-b border-gray-200">
                            <span class="text-sm leading-5 text-gray-900">{{ order.order_id}}</span>
                        </td>

                        <td class="px-1 py-4 whitespace-no-wrap border-b border-gray-200">
                            <span class="text-sm leading-5 text-gray-900">
                                {{order.product_id}}
                            </span>
                        </td>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="flex items-start flex-col">
                                <div class="text-sm font-medium leading-5 text-gray-900">{{order.shipping_phone}}
                                </div>
                                <div class="text-sm leading-5 text-gray-500">{{order.shipping_email}}</div>
                            </div>
                        </td>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="text-sm leading-5 text-gray-900">{{
                                order.receiver_first_name+(order.receiver_first_name?" "+order.receiver_first_name:"
                                ")}}</div>
                            <div class="text-sm leading-5 text-gray-500">{{order.receiver_username}}</div>
                        </td>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="text-sm leading-5 text-gray-500">
                                {{ order.address_line1+(order.address_line2 ? ', ' + order.address_line2 :
                                ''+(order.city )) }} <br>
                                {{ order.state+', ' + order.zip }}
                                {{ ', ' + order.country }}
                            </div>
                        </td>

                        <td
                            class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                            {{ order.shipping_zone | split:'_'}}
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <span class="text-sm leading-5 text-gray-900">{{ order.product_price}}</span>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <span class="text-sm leading-5 text-gray-900">
                                {{order.shipping_cost}}
                            </span>
                        </td>


                        <td
                            class="px-6 py-4 text-sm font-medium leading-5 text-right whitespace-no-wrap border-b border-gray-200">
                            <div *ngIf="isLoading(order.order_id)" class="flex justify-center items-center">
                                <div
                                    class="w-6 h-6 border-4 border-gray-400 border-t-transparent  rounded-full animate-spin">
                                </div>
                            </div>
                            <mat-slide-toggle *ngIf="!isLoading(order.order_id)&&order.delivery_status!=='transit'"
                                class="text-gray-500 text-xs" [disabled]="isCheckedMap[order.order_id]"
                                [checked]="isCheckedMap[order.order_id]" (change)="handleToggleChange($event, order)">
                                {{ isCheckedMap[order.order_id]?'Accepted':'Accept Ride?'}}
                            </mat-slide-toggle>

                            <div *ngIf="!isLoading(order.order_id)&&order.delivery_status==='transit'"
                                class="relative rounded-md shadow-sm">

                                <input #rvcInput type="text" name="rvc" id="rvc"
                                    class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-[.5px] ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                    placeholder="Verification code">
                                <div class="absolute inset-y-0 right-0 flex items-center">
                                    <button (click)="submitCode(rvcInput,order,i)"
                                        class="h-full bg-indigo-700 text-white text-center rounded-r-md border-0  py-0 pl-2 pr-6 sm:text-sm">Check</button>
                                </div>
                            </div>
                            <small class="text-red-700 w-full" *ngIf="erorMsg[i]">
                                <p>{{erorMsg[i]}}</p>
                            </small>


                        </td>


                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>